infra/n8n/workflows/calendly_adapter.json
{
  "name": "LeadOpsAI - Calendly Adapter",
  "nodes": [
    {
      "parameters": {
        "path": "leadops/calendly",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const b = $json.body || $json;\nconst ev = b.event || b.payload?.event || \"invitee.created\";\nconst invitee = b.payload?.invitee || b.invitee || {};\nconst email = invitee.email || b.email;\nconst phone = invitee.phone_number || b.phone;\nconst inviteeUri = invitee.uri || b.invitee_uri || \"unknown\";\nconst eventType = (ev === \"invitee.canceled\") ? \"MEETING_CANCELED\" : \"MEETING_BOOKED_EMAIL\";\nreturn [{\n  json: {\n    schema_version: 1,\n    tenant_id: $env.AG_TENANT_ID,\n    occurred_at: new Date().toISOString(),\n    event_type: eventType,\n    source: \"calendly\",\n    idempotency_key: `calendly:invitee:${inviteeUri}:${ev}`,\n    channel: \"CALENDLY\",\n    lead: (email || phone) ? { match: { ...(email ? { email } : {}), ...(phone ? { phone } : {}) } } : undefined,\n    payload: { event: ev, invitee_uri: inviteeUri, ...b }\n  }\n}];"
      },
      "id": "2",
      "name": "MapToEvent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const crypto = require('crypto');\n\nfunction stableStringify(value) {\n  return JSON.stringify(canonicalize(value));\n}\nfunction canonicalize(value) {\n  if (value === null) return null;\n  const t = typeof value;\n  if (t === 'number' || t === 'string' || t === 'boolean') return value;\n  if (Array.isArray(value)) return value.map(canonicalize);\n  if (t === 'object') {\n    const obj = value;\n    const out = {};\n    for (const k of Object.keys(obj).sort()) {\n      const v = obj[k];\n      if (v === undefined) continue;\n      out[k] = canonicalize(v);\n    }\n    return out;\n  }\n  return null;\n}\n\nconst secret = $env.AG_WEBHOOK_SECRET;\nif (!secret) throw new Error('Missing AG_WEBHOOK_SECRET in n8n env');\n\nconst event = $json;\nconst ts = Date.now().toString();\nconst canonical = stableStringify(event);\nconst sig = crypto.createHmac('sha256', secret).update(`${ts}.${canonical}`).digest('hex');\n\nreturn [{ json: { ts, sig, event } }];"
      },
      "id": "4",
      "name": "SignRequest",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.AG_API_BASE}}/api/events",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.event}}",
        "options": {
          "timeout": 30000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "x-ag-ts",
              "value": "={{$json.ts}}"
            },
            {
              "name": "x-ag-signature",
              "value": "={{$json.sig}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "PostEvent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MapToEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MapToEvent": {
      "main": [
        [
          {
            "node": "SignRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SignRequest": {
      "main": [
        [
          {
            "node": "PostEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}